@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 10;
  src: url('~assets/fonts/eot/dana-thin.eot');
  src: url('~assets/fonts/eot/dana-thin.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */ url('~assets/fonts/woff2/dana-thin.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/ url('~assets/fonts/woff/dana-thin.woff')
      format('woff');
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 200;
  src: url('~assets/fonts/eot/dana-extralight.eot');
  src: url('~assets/fonts/eot/dana-extralight.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-8 */ url('~assets/fonts/woff2/dana-extralight.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/
      url('~assets/fonts/woff/dana-extralight.woff') format('woff');
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 300;
  src: url('~assets/fonts/eot/dana-light.eot');
  src: url('~assets/fonts/eot/dana-light.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-8 */ url('~assets/fonts/woff2/dana-light.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/ url('~assets/fonts/woff/dana-light.woff')
      format('woff');
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 500;
  src: url('~assets/fonts/eot/dana-medium.eot');
  src: url('~assets/fonts/eot/dana-medium.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-8 */ url('~assets/fonts/woff2/dana-medium.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/ url('~assets/fonts/woff/dana-medium.woff')
      format('woff');
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 600;
  src: url('~assets/fonts/eot/dana-demibold.eot');
  src: url('~assets/fonts/eot/dana-demibold.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-8 */ url('~assets/fonts/woff2/dana-demibold.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/ url('~assets/fonts/woff/dana-demibold.woff')
      format('woff');
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 750;
  src: url('~assets/fonts/eot/dana-ultrabold.eot');
  src: url('~assets/fonts/eot/dana-ultrabold.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-8 */ url('~assets/fonts/woff2/dana-ultrabold.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/ url('~assets/fonts/woff/dana-ultrabold.woff')
      format('woff');
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 800;
  src: url('~assets/fonts/eot/dana-extrabold.eot');
  src: url('~assets/fonts/eot/dana-extrabold.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-8 */ url('~assets/fonts/woff2/dana-extrabold.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/ url('~assets/fonts/woff/dana-extrabold.woff')
      format('woff');
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 900;
  src: url('~assets/fonts/eot/dana-black.eot');
  src: url('~assets/fonts/eot/dana-black.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-8 */ url('~assets/fonts/woff2/dana-black.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/ url('~assets/fonts/woff/dana-black.woff')
      format('woff');
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: bold;
  src: url('~assets/fonts/eot/dana-bold.eot');
  src: url('~assets/fonts/eot/dana-bold.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */ url('~assets/fonts/woff2/dana-bold.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/ url('~assets/fonts/woff/dana-bold.woff')
      format('woff');
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: normal;
  src: url('~assets/fonts/eot/dana-regular.eot');
  src: url('~assets/fonts/eot/dana-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-8 */ url('~assets/fonts/woff2/dana-regular.woff2') format('woff2'),
    /* FF39+,Chrome36+, Opera24+*/ url('~assets/fonts/woff/dana-regular.woff')
      format('woff');
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

* {
  font-family: dana;
}

.hamburger {
  padding: 0px;
  display: inline-block;
  cursor: pointer;
  margin: 0px;
  display: inline-block;
  cursor: pointer;
  overflow: visible;
  border-width: 0px;
  border-style: none;
  background-color: transparent;
  text-transform: none;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
}

.hamburger.is-active:hover,
.hamburger:hover {
  opacity: 1;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
  background-color: #ffffff;
}

.hamburger-box {
  width: 40px;
  height: 100%;
  position: relative;
  display: inline-block;
}

.hamburger-inner {
  top: 50%;
  display: block;
  margin-top: -1px;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  width: 40px;
  height: 2px;
  background-color: #ffffff;
  border-radius: 4px;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  position: absolute;
}

.hamburger-inner:after,
.hamburger-inner:before {
  display: block;
}

.hamburger-inner:after,
.hamburger-inner:before {
  content: '';
}

.hamburger-inner:before {
  top: -8px;
}

.hamburger-inner:after {
  bottom: -8px;
}

.hamburger--3dy .hamburger-box {
  perspective: 80px;
}

.hamburger--3dy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

.hamburger--3dy .hamburger-inner:after,
.hamburger--3dy .hamburger-inner:before {
  transition: transform 0s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
}

.hamburger--3dy.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(-180deg);
}

.hamburger--3dy.is-active .hamburger-inner:before {
  transform: translate3d(0, 8px, 0) rotate(45deg);
}

.hamburger--3dy.is-active .hamburger-inner:after {
  transform: translate3d(0, -8px, 0) rotate(-45deg);
}

@font-face {
  font-family: 'icomoon';
  src: url('~/assets/icon/icomoon.ttf') format('truetype'),
    url('~/assets/icon/icomoon.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

[class*=' icon-'],
[class^='icon-'] {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-download:before {
  content: '';
}

.icon-arrow-down:before {
  content: '';
}

.icon-gallery:before {
  content: '';
}

.icon-play:before {
  content: '';
}

.icon-minus:before {
  content: '';
}

.icon-long-arrow:before {
  content: '';
}

.icon-plus:before {
  content: '';
}

.icon-squares:before {
  content: '';
}

.icon-arrow-left:before {
  content: '';
}

.icon-arrow-right:before {
  content: '';
}

.icon-close:before {
  content: '';
}

.fade-enter,
.fade-leave-to,
.page-enter,
.page-leave-to {
  opacity: 0;
}

.fade-enter-to,
.fade-leave,
.page-enter-to,
.page-leave {
  opacity: 1;
}

.fade-enter-active,
.fade-leave-active,
.page-enter-active,
.page-leave-active {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
}

.cookieControl__BarButtons button,
.cookieControl__ModalButtons button,
[data-border-anim='0'],
[data-border-anim] {
  display: inline-block;
  overflow: hidden;
}

.cookieControl__BarButtons button:after,
.cookieControl__ModalButtons button:after,
[data-border-anim='0']:after,
[data-border-anim]:after {
  content: '';
  transform: translate3d(-102%, 0, 0);
}

.cookieControl__BarButtons button:after,
.cookieControl__ModalButtons button:after,
[data-border-anim='0']:after,
[data-border-anim]:after {
  display: block;
  height: 0.125rem;
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.active[data-border-anim='0']:after,
.cookieControl__BarButtons button.active:after,
.cookieControl__BarButtons button.nuxt-link-exact-active:after,
.cookieControl__BarButtons button:hover:after,
.cookieControl__ModalButtons button.active:after,
.cookieControl__ModalButtons button.nuxt-link-exact-active:after,
.cookieControl__ModalButtons button:hover:after,
.nuxt-link-exact-active[data-border-anim='0']:after,
[data-border-anim='0']:after,
[data-border-anim='0']:hover:after,
[data-border-anim].active:after,
[data-border-anim].nuxt-link-exact-active:after,
[data-border-anim]:hover:after {
  transform: translateZ(0);
}

[data-blurred-text],
[data-dotted-square],
[data-dotted-text],
[data-fade-in-el],
[data-main-title],
[data-reveal-after] {
  visibility: hidden;
}

[data-blurred-text] {
  text-shadow: 0 0 100px #fff;
  color: transparent;
}

.lazy-img-fadein[lazy='loaded'] {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.cookieControl__BarButtons button,
.cookieControl__ModalButtons button {
  overflow: hidden;
}

.cookieControl__BarButtons button,
.cookieControl__ModalButtons button {
  padding-left: 0 !important;
}

.cookieControl__ModalButtons button:after {
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}

::-moz-selection {
  color: #000000;
  background: #ffffff;
}

::selection {
  color: #000000;
  background: #ffffff;
}

.dotted-square {
  background-image: radial-gradient(
      circle at center,
      rgb(34, 228, 76) 2px,
      transparent 0
    ),
    radial-gradient(circle at center, rgb(34, 228, 76) 2px, transparent 0),
    radial-gradient(circle at center, rgb(34, 228, 76) 2px, transparent 0),
    radial-gradient(circle at center, rgb(34, 228, 76) 2px, transparent 0);
  background-position: 50% 100%, 50% 0, 0 50%, 100%;
  background-size: 4px 4px;
  border-radius: 100%;
  background-repeat: no-repeat;
  will-change: transform;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 200ms;
}

.dotted-square:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}

@media (min-width: 1024px) {
  .fullwidth-centered-text {
    margin-left: 6.7vw;
  }
}

.underline-after {
  position: relative;
  display: inline-block;
}

.underline-after:after {
  content: '';
  height: 1px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}

.text-white .underline-after:after,
.underline-after.text-white:after {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.overlay {
  pointer-events: none;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
  opacity: 0.5;
}

.richtext {
  margin-bottom: -1rem;
}

.richtext h2 {
  margin-bottom: 1.5rem;
  font-size: 2.75rem;
  line-height: 1.23;
}

.richtext h3 {
  margin-bottom: 1.5rem;
}

.richtext h4 {
  margin-bottom: 1rem;
  font-size: 0.938rem;
  line-height: 2;
}

.richtext strong {
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
}

.richtext ol,
.richtext p,
.richtext ul {
  margin-bottom: 1rem;
}

.richtext ol + h2,
.richtext ol + h3,
.richtext ol + h4,
.richtext p + h2,
.richtext p + h3,
.richtext p + h4,
.richtext ul + h2,
.richtext ul + h3,
.richtext ul + h4 {
  margin-top: 1.5rem;
}

@media (min-width: 1024px) {
  .richtext ol + h2,
  .richtext ol + h3,
  .richtext ol + h4,
  .richtext p + h2,
  .richtext p + h3,
  .richtext p + h4,
  .richtext ul + h2,
  .richtext ul + h3,
  .richtext ul + h4 {
    margin-top: 3rem;
  }
}

.richtext ol li,
.richtext ul li {
  position: relative;
  margin-bottom: 0.75rem;
  padding-left: 2.5rem;
}

.richtext ol li:before,
.richtext ul li:before {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
}

.richtext ul {
  margin: 0px;
  display: flex;
  list-style-type: none;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0px;
}

.richtext ul li:before {
  content: '•';
  width: 1.75rem;
  margin-right: 0.75rem;
  height: 100%;
  font-size: 1.5625rem;
  line-height: 1.4;
  line-height: 1;
}

.richtext ol {
  counter-reset: my-awesome-counter;
  margin: 0px;
  display: flex;
  list-style-type: none;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0px;
}

.richtext ol li {
  counter-increment: my-awesome-counter;
}

.richtext ol li:before {
  content: counter(my-awesome-counter, decimal-leading-zero);
  width: 1.75rem;
  margin-right: 0.75rem;
  height: 100%;
  font-size: 1rem;
  line-height: 1.5rem;
}

.diary-detail-page .richtext p,
.privacy-page .richtext p {
  font-size: 0.938rem;
  line-height: 2;
  font-weight: 300;
  line-height: 2;
}

@media (min-width: 1024px) {
  .diary-detail-page .richtext p,
  .privacy-page .richtext p {
    font-size: 1.25rem;
    line-height: 2;
  }
}

.diary-detail-page .richtext h2,
.privacy-page .richtext h2 {
  margin-bottom: 2.5rem;
  font-size: 2.75rem;
  line-height: 1.23;
  font-weight: 300;
}

@media (min-width: 1024px) {
  .diary-detail-page .richtext h2,
  .privacy-page .richtext h2 {
    font-size: 5rem;
    line-height: 1.225;
  }
}

.diary-detail-page .richtext h3,
.privacy-page .richtext h3 {
  margin-bottom: 2.5rem;
  font-size: 1.5625rem;
  line-height: 1.4;
  font-weight: 300;
}

@media (min-width: 1024px) {
  .diary-detail-page .richtext h3,
  .privacy-page .richtext h3 {
    font-size: 2.5rem;
    line-height: 1.375;
  }
}

.diary-detail-page .richtext h4,
.diary-detail-page .richtext h5,
.diary-detail-page .richtext h6,
.privacy-page .richtext h4,
.privacy-page .richtext h5,
.privacy-page .richtext h6 {
  margin-bottom: 2.5rem;
  font-size: 0.8125rem;
  line-height: 1.38;
  letter-spacing: 0.3em;
}

@media (min-width: 1024px) {
  .diary-detail-page .richtext h4,
  .diary-detail-page .richtext h5,
  .diary-detail-page .richtext h6,
  .privacy-page .richtext h4,
  .privacy-page .richtext h5,
  .privacy-page .richtext h6 {
    font-size: 0.938rem;
    line-height: 2;
  }
}

.masonry-item .overlay,
.masonry-item .project-info-title span {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 300ms;
}

.masonry-item .overlay.overlay-lighter,
.masonry-item .project-info-title span.overlay-lighter {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 300ms;
}

.masonry-item:hover .overlay {
  opacity: 0;
}

.masonry-item:hover .overlay.overlay-lighter {
  --tw-bg-opacity: 1;
  background-color: rgba(20, 20, 20, var(--tw-bg-opacity));
  opacity: 0.5;
}

.masonry-item:hover .project-info-title span:nth-child(2) {
  visibility: visible;
  opacity: 1;
}

.masonry-item:hover .dotted-square {
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

[data-nav-wrapper].transparent {
  background-color: transparent !important;
}

@media (min-width: 1024px) {
  .product-item .dotted-square {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 700ms;
  }
}

@media (max-width: 1023px) {
  .product-item .dotted-square {
    background-image: none;
  }
}

@media (min-width: 1024px) {
  .product-item {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 700ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    flex: 1;
  }

  .product-item:hover {
    flex: 7;
  }

  .product-item:hover .dotted-square {
    opacity: 1;
  }
}

.cookieControl__Bar {
  font-family: auto-pro-new !important;
}

.mobile-slider-with-bg .slick-list,
.mobile-slider-with-bg .slick-slide > div,
.mobile-slider-with-bg .slick-slider,
.mobile-slider-with-bg .slick-track {
  height: 100%;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

.lg-backdrop.in {
  opacity: 0.75;
}

.lg-outer .lg-video-cont {
  max-width: 1140px !important;
}

.app-gallery,
.app-gallery .lg-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-gallery .lg-item {
  max-height: 80%;
}

.app-gallery .lg-label {
  font-size: 2.5rem;
  line-height: 1.375;
  font-weight: 300;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.app-gallery .lg-label .underline-after:after,
.underline-after.text-white:after {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.text-white .underline-after:after,
.underline-after.text-white:after {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.app-gallery .lg-toolbar .lg-close {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 4rem;
  width: 5rem;
  font-size: 1.5625rem;
  line-height: 1.4;
}

.app-gallery .lg-toolbar .lg-close:after {
  content: '';
}

.app-gallery .lg-actions .lg-next {
  right: 0px;
}

.app-gallery .lg-actions .lg-prev {
  left: 0px;
}

.app-gallery .lg-actions .lg-next,
.app-gallery .lg-actions .lg-prev {
  padding: 2.25rem;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.app-gallery .lg-actions .lg-next .underline-after:after,
.app-gallery .lg-actions .lg-prev .underline-after:after,
.underline-after.text-white:after,
.underline-after.text-white:after {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.text-white .underline-after:after,
.text-white .underline-after:after,
.underline-after.text-white:after,
.underline-after.text-white:after {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.app-gallery .lg-actions .lg-next:after,
.app-gallery .lg-actions .lg-next:before,
.app-gallery .lg-actions .lg-prev:after,
.app-gallery .lg-actions .lg-prev:before {
  content: '';
}

.vm--container .app-modal {
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
  --tw-bg-opacity: 0.05;
}

.vm--container .app-modal.awards-modal {
  --tw-bg-opacity: 1;
}

.vm--container.scrollable .app-modal {
  overflow-y: auto;
}

.vm--container .vm--overlay {
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
  --tw-bg-opacity: 0.7;
}

.cookieControl__Modal-enter-active,
.cookieControl__Modal-leave-active {
  transition: opacity 0.25s;
}

.cookieControl__Modal-enter,
.cookieControl__Modal-leave-to {
  opacity: 0;
}

.cookieControl__Bar--center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cookieControl__Bar--bottom-full-enter-active,
.cookieControl__Bar--bottom-full-leave-active,
.cookieControl__Bar--bottom-left-enter-active,
.cookieControl__Bar--bottom-left-leave-active,
.cookieControl__Bar--bottom-right-enter-active,
.cookieControl__Bar--bottom-right-leave-active,
.cookieControl__Bar--center-enter-active,
.cookieControl__Bar--center-leave-active,
.cookieControl__Bar--top-full-enter-active,
.cookieControl__Bar--top-full-leave-active,
.cookieControl__Bar--top-left-enter-active,
.cookieControl__Bar--top-left-leave-active,
.cookieControl__Bar--top-right-enter-active,
.cookieControl__Bar--top-right-leave-active {
  transition: transform 0.25s;
}

.cookieControl__Bar--top-full-enter,
.cookieControl__Bar--top-full-leave-to,
.cookieControl__Bar--top-left-enter,
.cookieControl__Bar--top-left-leave-to,
.cookieControl__Bar--top-right-enter,
.cookieControl__Bar--top-right-leave-to {
  transform: translateY(-100%);
}

.cookieControl__Bar--bottom-full-enter,
.cookieControl__Bar--bottom-full-leave-to,
.cookieControl__Bar--bottom-left-enter,
.cookieControl__Bar--bottom-left-leave-to,
.cookieControl__Bar--bottom-right-enter,
.cookieControl__Bar--bottom-right-leave-to {
  transform: translateY(100%);
}

.cookieControl__Bar--center-enter,
.cookieControl__Bar--center-leave-to {
  transform: translate(-50%, -50%) scale(0.95);
}

.cookieControl {
  position: relative;
  z-index: 100000;
}

.cookieControl button {
  border: 0;
  outline: 0;
  font-size: 16px;
  cursor: pointer;
  padding: 12px 20px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: background-color 0.2s, color 0.2s;
}

.cookieControl__Bar {
  position: fixed;
  background-color: var(--cookie-control-barBackground);
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.cookieControl__Bar h3,
.cookieControl__Bar p {
  color: var(--cookie-control-barTextColor);
  max-width: 900px;
}

.cookieControl__Bar h3 {
  margin: 0;
  font-size: 20px;
}

.cookieControl__Bar p {
  font-size: 16px;
  margin: 5px 0 0;
}

.cookieControl__Bar button {
  color: var(--cookie-control-barButtonColor);
  background-color: var(--cookie-control-barButtonBackground);
}

.cookieControl__Bar button:hover {
  color: var(--cookie-control-barButtonHoverColor);
  background-color: var(--cookie-control-barButtonHoverBackground);
}

.cookieControl__Bar button + button {
  margin-left: 10px;
}

.cookieControl__BarContainer {
  display: flex;
  padding: 20px;
  align-items: flex-end;
  justify-content: space-between;
}

.cookieControl__Bar--bottom-full,
.cookieControl__Bar--top-full {
  left: 0;
  right: 0;
}

.cookieControl__Bar--top-full {
  top: 0;
}

.cookieControl__Bar--bottom-full {
  bottom: 0;
}

.cookieControl__Bar--bottom-left p,
.cookieControl__Bar--bottom-right p,
.cookieControl__Bar--center p,
.cookieControl__Bar--top-left p,
.cookieControl__Bar--top-right p {
  max-width: 400px;
}

.cookieControl__Bar--bottom-left .cookieControl__BarContainer,
.cookieControl__Bar--bottom-right .cookieControl__BarContainer,
.cookieControl__Bar--center .cookieControl__BarContainer,
.cookieControl__Bar--top-left .cookieControl__BarContainer,
.cookieControl__Bar--top-right .cookieControl__BarContainer {
  flex-direction: column;
}

.cookieControl__Bar--bottom-left .cookieControl__BarButtons,
.cookieControl__Bar--bottom-right .cookieControl__BarButtons,
.cookieControl__Bar--center .cookieControl__BarButtons,
.cookieControl__Bar--top-left .cookieControl__BarButtons,
.cookieControl__Bar--top-right .cookieControl__BarButtons {
  margin-top: 20px;
}

.cookieControl__Bar--top-left,
.cookieControl__Bar--top-right {
  top: 20px;
}

.cookieControl__Bar--bottom-left,
.cookieControl__Bar--bottom-right {
  bottom: 20px;
}

.cookieControl__Bar--bottom-left,
.cookieControl__Bar--top-left {
  left: 20px;
}

.cookieControl__Bar--bottom-right,
.cookieControl__Bar--top-right {
  right: 20px;
}

.cookieControl__BarButtons {
  display: flex;
}

.cookieControl__Modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  font-size: 0;
  text-align: center;
}

.cookieControl__Modal:before {
  content: '';
  min-height: 100vh;
  display: inline-block;
  vertical-align: middle;
}

.cookieControl__Modal:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: var(--cookie-control-modalOverlayOpacity);
  background-color: var(--cookie-control-modalOverlay);
}

.cookieControl__Modal > div {
  font-size: medium;
  padding-top: 80px;
}

.cookieControl__Modal button {
  color: var(--cookie-control-modalButtonColor);
  background-color: var(--cookie-control-modalButtonBackground);
}

.cookieControl__Modal button:hover {
  color: var(--cookie-control-modalButtonHoverColor);
  background-color: var(--cookie-control-modalButtonHoverBackground);
}

.cookieControl__ModalContent {
  position: relative;
  width: 100%;
  padding: 40px;
  max-width: 550px;
  max-height: 80vh;
  text-align: left;
  overflow-y: scroll;
  display: inline-block;
  vertical-align: middle;
  background-color: var(--cookie-control-modalBackground);
}

.cookieControl__ModalContent,
.cookieControl__ModalContent :not(button) {
  color: var(--cookie-control-modalTextColor);
}

.cookieControl__ModalContent h3 {
  font-size: 24px;
  margin: 50px 0 25px;
}

.cookieControl__ModalContent h3:first-of-type {
  margin-top: 0;
}

.cookieControl__ModalContent ul {
  padding: 0;
  font-size: 16px;
  list-style-type: none;
}

.cookieControl__ModalContent ul ul {
  padding: 5px 56px 0;
}

.cookieControl__ModalContent ul ul li + li {
  margin-top: 5px;
}

.cookieControl__ModalContent li {
  align-items: center;
}

.cookieControl__ModalContent li + li {
  margin-top: 20px;
}

.cookieControl__ModalContent input {
  display: none;
}

.cookieControl__ModalContent input:checked + label {
  background-color: var(--cookie-control-checkboxActiveBackground);
}

.cookieControl__ModalContent input:checked + label:before {
  background-color: var(--cookie-control-checkboxActiveCircleBackground);
  transform: translate3d(100%, -50%, 0);
}

.cookieControl__ModalContent input:checked:disabled + label {
  background-color: var(--cookie-control-checkboxDisabledBackground);
}

.cookieControl__ModalContent input:checked:disabled + label:before {
  background-color: var(--cookie-control-checkboxDisabledCircleBackground);
}

.cookieControl__ModalContent label {
  position: relative;
  min-width: 36px;
  min-height: 20px;
  font-size: 0;
  display: block;
  margin-right: 20px;
  border-radius: 20px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: background-color 0.2s;
  background-color: var(--cookie-control-checkboxInactiveBackground);
}

.cookieControl__ModalContent label:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 3px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transition: transform 0.2s;
  transform: translate3d(0, -50%, 0);
  background-color: var(--cookie-control-checkboxInactiveCircleBackground);
}

.cookieControl__ModalInputWrapper {
  display: flex;
  align-items: flex-start;
}

.cookieControl__ModalCookieName {
  font-weight: 700;
  text-transform: uppercase;
}

.cookieControl__ModalCookieName span {
  font-weight: 400;
  text-transform: none;
}

.cookieControl__ModalClose {
  position: absolute;
  top: 20px;
  right: 20px;
}

.cookieControl__ModalButtons {
  display: flex;
  margin-top: 80px;
  align-items: flex-start;
}

.cookieControl__ModalButtons button + button {
  margin-left: 20px;
}

.cookieControl__ModalUnsaved {
  position: absolute;
  left: 50%;
  bottom: 40px;
  margin: 0;
  color: var(--cookie-control-modalUnsavedColor);
  font-size: 14px;
  transform: translateX(-50%);
}

.cookieControl__BlockedIframe {
  padding: 20px;
  border: 2px solid #ddd;
}

.cookieControl__BlockedIframe a,
.cookieControl__BlockedIframe p {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

@media screen and (max-width: 768px) {
  .cookieControl__Bar {
    flex-direction: column;
    left: 0;
    right: 0;
  }

  .cookieControl__Bar h3,
  .cookieControl__Bar p {
    max-width: 100%;
  }

  .cookieControl__Bar--top-full,
  .cookieControl__Bar--top-left,
  .cookieControl__Bar--top-right {
    top: 0;
  }

  .cookieControl__Bar--bottom-full,
  .cookieControl__Bar--bottom-left,
  .cookieControl__Bar--bottom-right {
    bottom: 0;
  }

  .cookieControl__ModalContent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: none;
    max-height: 100%;
    padding: 80px 20px 20px;
  }

  .cookieControl__BarButtons {
    width: 100%;
    margin-top: 20px;
    justify-content: flex-end;
  }

  .cookieControl__BarContainer {
    flex-direction: column;
  }
}

.cookieControl__ControlButton {
  position: fixed;
  right: 20px;
  bottom: 20px;
  border: 0;
  outline: 0;
  width: 40px;
  height: 40px;
  cursor: pointer;
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: background-color 0.2s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background: var(--cookie-control-controlButtonBackground);
}

.cookieControl__ControlButton svg {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 24px;
  min-height: 24px;
  max-width: 24px;
  max-height: 24px;
  transition: color 0.2s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translate(-50%, -50%);
  color: var(--cookie-control-controlButtonIconColor);
}

.cookieControl__ControlButton:hover {
  background-color: var(--cookie-control-controlButtonHoverBackground);
}

.cookieControl__ControlButton:hover svg {
  color: var(--cookie-control-controlButtonIconHoverColor);
}

.nuxt-progress {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  width: 0;
  opacity: 1;
  transition: width 0.1s, opacity 0.4s;
  background-color: #000;
  z-index: 999999;
}

.nuxt-progress.nuxt-progress-notransition {
  transition: none;
}

.nuxt-progress-failed {
  background-color: red;
}

.nav-wrapper {
  width: 100%;
}

@media (max-width: 1023px) {
  .nav-wrapper {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media (max-width: 639px) {
  .nav-wrapper {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .nav-wrapper {
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  @media (min-width: 480px) {
    .nav-wrapper {
      max-width: 480px;
    }
  }

  @media (min-width: 640px) {
    .nav-wrapper {
      max-width: 640px;
      padding-right: 2rem;
      padding-left: 2rem;
    }
  }

  @media (min-width: 768px) {
    .nav-wrapper {
      max-width: 768px;
    }
  }

  @media (min-width: 1024px) {
    .nav-wrapper {
      max-width: 1024px;
    }
  }

  @media (min-width: 1280px) {
    .nav-wrapper {
      max-width: 1280px;
    }
  }

  @media (min-width: 1366px) {
    .nav-wrapper {
      max-width: 1366px;
    }
  }

  @media (min-width: 1536px) {
    .nav-wrapper {
      max-width: 1536px;
    }
  }

  @media (min-width: 1900px) {
    .nav-wrapper {
      max-width: 1900px;
    }
  }

  .nav-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 93%;
    max-width: none;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (min-width: 1280px) {
  .nav-wrapper {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.main-nav {
  display: flex;
  align-items: center;
}

.main-nav-item {
  margin-left: 1rem;
  margin-right: 1rem;
}

.main-nav-item a {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

@media (max-width: 1023px) {
  .dotted-square {
    background-image: none;
  }
}

footer .icon-arrow-right:before {
  font-weight: 700;
}

.grid-item:after {
  content: '';
  padding-bottom: 100%;
}

@media (max-width: 767px) {
  .max-md\:pb-10 {
    padding-bottom: 2.5rem;
  }
}

.text-mobile-wide {
  font-size: 6.7vw;
  line-height: 2.5em;
  letter-spacing: 17.5px;
}

@media (min-width: 1024px) {
  .lg\:mb-16 {
    margin-bottom: 4rem;
  }

  .lg\:text-5xl {
    font-size: 4.25rem;
    line-height: 2.18;
  }

  .lg\:tracking-insane {
    letter-spacing: 6.7vw;
  }
}

.\31xl\:text-6xl {
  font-size: 5rem;
  line-height: 1.225;
}

.text-item {
  opacity: 0;
}

.text-item.show {
  visibility: visible;
  opacity: 1;
}
